{:duct.profile/base
 {:duct.core/project-ns job-clojure2

  :duct.router/ataraxy
  {:routes
   {[:get "/todos"] [:job-clojure2.handler.todos/list]}
   :job-clojure2.handler.todos/list {}}}

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module.web/api
 {}
 :duct.module/sql
 {}}
